@import '../../assets/styles/variable.scss';

.site-nav {
  box-sizing: border-box;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border;
  font-weight: 500;
  background: #fff;

  .menu-title {
    padding: 24px;
    font-size: 24px;
  }

  .menu-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;

    .menu-icon {
      font-size: 24px;
    }
  }

  .menu-list {
    display: flex;
    align-items: center;
  
    li {
      list-style: none;
      padding: 0 12px;
    }
    
    a:hover {
      color: $text-link;
    }
  }
}

@media screen and (min-width: 900px) {
  .site-nav {
    .menu-icon {
      display: none;
    }
  }
}


@media screen and (max-width: 900px) {
  .site-nav {
    position: relative;
    
    .menu-container {
      .menu-list {
        position: absolute;
        top: -200px;
        left: 0;
        margin: 0;
        width: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
        transition: 300ms ease top;
        z-index: -1;

        &.active {
          top: 65px;
        }

        li {
          width: 100%;
          padding: 20px 0 20px 10px;
          border-bottom: 1px solid #ccc;
        }
      }
      .menu-icon {
        cursor: pointer;
        display: block;
      }
    }
  }
}
