@import '../../assets/styles/variable.scss';

.site-nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border;
  font-weight: 500;

  .menu-title {
    padding: 24px;
    font-size: 24px;
  }

  .menu-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;

    .menu-icon {
      font-size: 24px;
    }
  }

  .menu-list {
    display: flex;
    align-items: center;
  
    li {
      list-style: none;
      padding: 0 12px;
    }
    
    a:hover {
      color: $text-link;
    }
  }
}

@media screen and (min-width: 900px) {
  .site-nav {
    .menu-icon {
      display: none;
    }
  }
}


@media screen and (max-width: 900px) {
  .site-nav {
    .menu-container {
      
    }
    .menu-icon {
      display: block;
    }
  }
}
